.page-wrapper {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;

  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
