.page-wrapper {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;

  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.skip-link {
  position: absolute;
  top: -100px;
  left: var(--space-sm);
  padding: var(--space-sm) var(--space-md);
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  border-radius: 0.25rem;
  z-index: 10000; // Över allt annat

  &:focus {
    top: var(--space-sm);
    outline: 2px solid var(--color-inline-link);
    outline-offset: 2px;
  }
}
