.text {
  width: 100%;
  transition: color 0.2s ease;
  /// Weight
  &--thin {
    font-weight: var(--font-weight-thin);
  }
  &--extralight {
    font-weight: var(--font-weight-extralight);
  }
  &--light {
    font-weight: var(--font-weight-light);
  }
  &--normal {
    font-weight: var(--font-weight-normal);
  }
  &--medium {
    font-weight: var(--font-weight-medium);
  }
  &--semibold {
    font-weight: var(--font-weight-semibold);
  }
  &--bold {
    font-weight: var(--font-weight-bold);
  }
  &--extrabold {
    font-weight: var(--font-weight-extrabold);
  }
  &--black {
    font-weight: var(--font-weight-black);
  }

  /// Variants
  &--primary {
    color: var(--color-text-primary);
  }
  &--secondary {
    color: var(--color-text-secondary);
  }
  &--muted {
    color: var(--color-text-muted);
  }
  &--disabled {
    color: var(--color-text-disabled);
  }
  &--success {
    color: var(--color-success-title);
  }
  &--warning {
    color: var(--color-warning-title);
  }
  &--danger {
    color: var(--color-danger-title);
  }
  &--info {
    color: var(--color-info-title);
  }

  /// Align
  &--left {
    text-align: left;
  }
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }
}
