@use "@/styles/abstracts/variables" as var;

.footnote {
  position: relative;
  padding-left: 1.5ch;
  // max-width: calc(var(--text-base) * #{var.$avgCharWidth-body} * 70);
  max-width: 80ch;

  & sup {
position: absolute;
    top: -0.26em;
    left: 0;
  color: inherit;
    font-size: var(--text-sm);
    line-height: 1;
  }

  // &::before {
  //   content: "*";
  //   position: absolute;
  //   top: -0.26em;
  //   left: 0;
  //   color: inherit;
  //   font-size: var(--text-sm);
  //   line-height: 1;
  // }
}
